* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

/* Add group */
.add-group {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    margin-bottom: 0.8rem;
}

/* Textarea input */
#addInput {
    flex: 1;
    min-height: 3rem;
    padding: 0.6rem;
    font-size: 1rem;
    resize: none;
    overflow: hidden;
    background-color: rgb(214, 221, 221);
    border-radius: 6px;
    white-space: pre-wrap;
    word-break: break-word;
}

/* Button */
#addBtn {
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    white-space: nowrap;
    background-color: rgb(214, 221, 221);
    border-radius: 6px;
}

/* Search */
#search {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(214, 221, 221);
    border-radius: 6px;
}

/* Todo list */
#todoList {
    list-style: none;
    padding: 0;
}

#todoList li {
    background-color: rgb(214, 221, 221);
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

/* Text inside todo */
.item-text {
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
    
}

/* Buttons */
button {
    cursor: pointer;
}

/* Mobile */
@media (max-width: 500px) {
    .add-group {
        flex-direction: row;
    }
}

#shareBtn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: rgb(214, 221, 221);
    border-radius: 6px;
}

#shareLink {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: rgb(214, 221, 221);
    border-radius: 6px;
}
